html,
body {
  padding: 0;
  margin: 0;
  color:"primary";
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
